header {
  width: 100%;
  display: flex;
  background-color: #3a3a3a;
}

main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: #fafafa;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
  color: white;
}

.active {
  background-color: #5c31db;
}
