.dash {
  display: flex;
  flex-direction: column;
}

.dash button {
  border-radius: 5px;
  background-color: #3a3a3a;
  color: #fafafa;
  min-height: 40px;
  min-width: 80px;
  margin: 0 15px;
}

.dash button:hover {
  opacity: 0.8;
}
