.guessarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guessarea table {
  border-collapse: separate;
  border-spacing: 6px 6px;
}

.result {
  height: 20vh;
  width: 100%;
  font-size: 3rem;
  font-weight: 400;
}

.retry {
  margin-bottom: 15px;
  padding: 14px;
  border-radius: 8px;
  font-weight: 600;
  background-color: #3a3a3a;
  color: #fafafa;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: none;
}
