.container {
  height: 400px;
  width: 600px;
  max-width: 80%;
  overflow-y: scroll;
}

.time {
  border-right: 1px solid black;
}

.table th {
  background-color: #5c31db;
  color: white;
}

.table th,
td {
  text-align: left;
  padding: 5px 20px;
}

.table tr:hover {
  background-color: #ddd;
}
