@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    color-scheme: dark;
}
.hash-span {
    margin-top: -100px;
    padding-bottom: 100px;
    display: block;
}

.black-gradient {
    background: #000000; /* fallback for old browsers */
    background: linear-gradient(to right, #434343, #000000);
}

.brown-gradient {
    background: #a75712;
    background: linear-gradient(-90deg, #a75712 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(
        -90deg,
        #a75712 0%,
        rgba(60, 51, 80, 0) 100%
    );
}

.green-pink-gradient {
    background: "#00cea8";
    background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
    background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.green-text-gradient {
    background: #11998e; /* fallback for old browsers */
    background: linear-gradient(to top, #11998e, #38ef7d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
    background: #ec008c; /* fallback for old browsers */
    background: linear-gradient(to top, #ec008c, #fc6767);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
